<html>
<head>
  <meta charset="UTF-8">
  <title>Curriculum Antonio Franceskin</title>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body class="text-center">
<header>
  <div class="container-fluid">        
    <table class="table" style="background-color: #DCDCDC;" >
      <thead >  
            <MARQUEE BEHAVIOR=ALTERNATE>
            <h1 style="color: #0B0B3B; font-weight:bold; font-family: Courier; font-size:300%;" >Antonio Franceskin</h1>
            </MARQUEE>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-2 col-md-2 col-sm-2">
          <%= image_tag("af.jpg", width: "100%") %>
          <!-- <img src="<%= asset_path('af.jpg') %>" width="100%"> -->
          </td>
          <td class="col-xs-7 col-md-7 col-sm-7" style="padding: 0">
            <h2 style="text-align: left; color:gray; font-weight:bold;"> LICENCIADO EN COMPUTACION</h2>
              <p style="text-align: justify; color:gray;  font-weight:bold;">Ejecutivo con sólida experiencia en Gerencia de Operaciones, Desarrollo e Implantación de Sistemas de Información en compañías multinacionales en diversos sectores de la industria (Manufactura, Telecomunicaciones y Retail). Líder y creador de equipos de trabajo de alto desempeño, analítico e innovador en la solución de problemas y toma de decisiones, alto nivel de compromiso y orientado a resultado excelentes. </p>
          </td>
          <td class="col-xs-3 col-md-3 col-sm-3">
          <ul  style="text-align: left; list-style: none;padding: 0; margin-top: 20%;margin-left: 10px">
            <li>
              <h4 style="color:#E21515">
                <span class="glyphicon glyphicon-map-marker" style="color:gray"></span>
                  Caracas, Venezuela&nbsp;&nbsp;
                </h4>
              </li>
              <li>
                <h4 style="color:#E21515">
                  <span class="glyphicon glyphicon-phone" style="color:gray"></span>
                  +58-414-3211111&nbsp;&nbsp;</h4>
                </li>
                <li>
                  <h4 style="color:#E21515">
                    <span class="glyphicon glyphicon-envelope" style="color:gray"></span>
                    antonio.franceskin@gmail.com
                  </h4>
                </li>
                <li>
                  <h4>
                    <span class="glyphicon glyphicon-user" style="color: gray"></span>
                    <a target="_blank" href="https://www.linkedin.com/in/antonio-franceskin-373b1631/">Linkedin</a>
                  </h4>
                </li>
              </ul>  
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</header> 

<div class="container">
  <div class="row">  
    <div  class="col-xs-7">
      <table class="table text-left">
              <tr>
                <td>
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="antonio-franceskin-373b1631"><a class="LI-simple-link" href='https://ve.linkedin.com/in/antonio-franceskin-373b1631?trk=profile-badge'>Antonio Franceskin</a></div>
                </td>
                <td>
                  <h1 style="color:gray">
                    <span class="glyphicon glyphicon-education"></span>
                    Educación
                  </h1>
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Educación</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">
                          Trabajo de Grado Analisis Multiparametrico, <em>Marzo 1991</em>
                          </h4>
                          <p class="text-center">Reconocimiento de “Excepcionalmente Bueno” por la Facultad de Ciencias</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.ucv.ve/">"Universidad Central de Venezuela"</a></h3>
                  <h4><em>Junio 1991</em></h4>  
                  <p>Licenciado en Computación</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal"></button>
                </td>
              </tr>

              <tr>
                <td>
                <h1 style="color:gray">
                  <span class="glyphicon glyphicon-briefcase"></span>
                  Experiencia profesional
                </h1>
                  <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">Farmatodo CA <em></em>
                          </h4>
                          <p class="text-center">Gerente de Operaciones</p>
                          <p class="text-justify">Responsable de la continuidad, sostenibilidad, estabilidad y calidad de la infraestructura y aplicaciones critica para el negocio.  Manejo del Capital Humano de 16 profesionales expertos de diferentes áreas tecnológicas (Sistemas Operativos, Protocolos y Equipos de comunicación, Hardware Operativo, Storage Area Network, Bases de Datos entre otros). </p>
                          <ul>
                            <li>Implementación de las disciplinas de ITIL:Incident Manager, Problem Manager, Help Desk y Services Desk. .</li><br/>
                            <li>
                              Planificar, Elaborar, Gestionar y Ejecutar del presupuesto anual operativo TI de Farmatodo, actividad vital para reducir la obsolescencia tecnológica garantizando la soportabilidad de sistemas críticos que sostienen el negocio. 
                            </li><br/>
                            <li>Implementar e Integrar el Programa de Actualización Tecnológica de Farmatodo, este Programa incluye 7 grandes proyectos:
                              <ul>
                                  <li>Proyecto de Actualización Tecnológica de la Infraestructura.</li>
                                  <li>Proyecto de Hausing de los Centro de Cómputo de Farmatodo.</li>
                                  <li>Proyecto de Actualización de Aplicación EBS (E-Business Suite).</li>
                                  <li>Proyecto de Actualización MOM (Merchandise Operations Management).</li>
                                  <li>Proyecto de Actualización SIM (Store Inventory Management). </li>
                                  <li>Proyecto de Actualización WMS (Warehouse Management System).</li>
                                  <li>Proyecto de Actualización ORPOS. (Oracle Retail Point of Sales).</li>  
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.farmatodo.com/">"Farmatodo CA"</a></h3>
                  <h4><em> (Nov 2012- Dic 2016)</em></h4>  
                  <p>Gerente de Operaciones TI</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal1"></button>
                </td>
              </tr>              

              <tr>
                <td>
                  <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">Telefónica Móviles Venezuela<em></em>
                          </h4>
                          <p class="text-center">Gerente de Administración & Infraestructura</p>
                          <p class="text-justify">Planificar, actualizar, gestionar y controlar la administración, operación, mantenimiento, contingencia y adecuación de la plataforma tecnológica de hardware y comunicaciones de la Corporación, mediante la implementación de eficientes metodologías y sistemas de monitoreo, a fin de maximizar el ciclo de vida útil de los activos de TI y garantizar la continuidad operativa de la plataforma las 24 horas del día los 365 días, brindando servicios óptimo a los clientes internos y finales, cumpliendo con las mejores prácticas, los niveles de servicio establecidos y dentro del marco de las políticas y del plan estratégico de la Vicepresidencia de TI. </p>
                          <ul class="text-justify" >
                            <li>Liderar equipos de trabajo de alto desempeño y resolver los siguientes problemas crónicos que presentaba el negocio: 
                              <ul>
                                  <li>Eliminar las pérdidas de 42 horas promedio mes del cobro en línea de navegación de datos. </li>
                                  <li>Estabilización del sistema de respaldo de la base instalada (+500 TB), logrado índices de 98% de efectividad.</li>
                                  <li>Estabilización de los CRM  “Mi Movistar Online” y CVSC, disminuyendo las fallas masivas de más de 30 en Oct./2010 a solo 5 en Dic./2010.</li>
                                  <li>Estabilizar los procesos de facturación, disminuyendo la generación de las facturas de 48 horas  a  8 horas.</li>
                                  <li>Garantizar una efectividad de más de 80% en los procesos de auditorías, especialmente SOX (Ley Sabarnes–Oxley Estados Unidos), proceso necesario y requerido para la continuidad de participación de Telefónica como corporación en la Bolsa de Valores. </li>
                              </ul>
                            </li><br/>
                            <li>Conformar los servicios basados en la metodología ITIL: Manejo de Cambio, Incidentes, Problemas, Niveles de soporte, etc.</li><br/>
                            <li>
                            Responsable del proceso de transición de los gestores de la Red Celular hacia la Dirección de tecnología de Información.
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="https://www.telefonica.com.ve/es/">Telefónica Móviles Venezuela</a></h3>
                  <h4><em> (2010 – Oct 2012)</em></h4>  
                  <p>Gerente de Administración & Infraestructura</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal2"></button>
                </td>
              </tr>   


              <tr>
                <td>
                  <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">Telefónica Móviles Venezuela<em></em>
                          </h4>
                          <p class="text-center">Gerente de Implementación</p>
                          <p class="text-justify">Responsable de la implementación de los Planes: Excelencia Operativa, Obsolescencia Tecnológica, Reducción de Costos y Crecimiento Vegetativo de la Vicepresidencia de Tecnología de Información. Manejo del Capital Humano de 8 profesionales expertos de diferentes áreas tecnológicas (Sistemas Operativos, Protocolos y Equipos de comunicación, Hardware Operativo, Storage Area Network, Bases de Datos, Sistemas de Cobro en Línea, Sistemas de Captura y procesamiento de CDR entre otros).</p>
                          <ul class="text-justify">
                            <li>Actualicé tecnológicamente el cobro en línea de los servicios de Voz (Prepago y Postpago) a la plataforma estándar de Telefónica, representando un ahorro anual por concepto de pago de mantenimiento del sistema anterior de más de US$1,5 millones/anual y duplicando la capacidad de crecimiento de esta plataforma para soportar el crecimiento esperado en los próximos dos años de 60% de los clientes de Movistar. </li> <br/>
                            <li>Implementé una plataforma de ciclo de vida de la información (ILM) para los servicios de File&Print y Correo Electrónico que representó un incremento en capacidad de almacenamiento respaldable de 10 Gb/Usuario a 30 Gb/Usuario y un ahorro de US$400 mil en inversión al seleccionar este tipo de tecnología. </li><br/>
                            <li>
                            Desarrollé la primera parte de la estrategia de virtualización de servidores de tecnología Wintel (45 servidores) que busca reducir la complejidad de administrar una planta instalada de 900 servidores independientes y a su vez reducir los costos de mantenimientos anual de hardware en un 18%.
                            </li><br/>
                            <li>
                            Instalé servicios de alta disponibilidad en los servicios Postpago de la compañía que garantizan la continuidad de los servicios de tasación en línea en caso de falla mayor, este servicio representa aproximadamente un 30% de la facturación de la compañía.
                            </li><br/>
                            <li>
                            Líder tecnológico del proyecto Actualización Tecnológica de los servicios de captura y procesamiento de CDR del sistema de Facturación Interoperadora, buscando incrementar la facturación y la oportunidad por este concepto en 8%. El servicio de facturación de interoperadora es el tercer concepto de ingreso de Movistar.
                            </li><br/>
                            <li>
                            Entre otro de los proyectos que me enorgullece nombrar: Ser el líder por parte de Tecnología de Información para la aplicación de mejores prácticas de la industria en la construcción del nuevo Centro de Computo de Movistar en la ciudad de Maracay (La Morita), para satisfacer las necesidades de crecimiento de la empresa, basándose en tecnologías emergentes con altos grados de confiabilidad, reutilizando más de 1.000 mts2 de la Torre Canaima,  este  proyecto garantiza la continuidad de los servicios de Telefónica en caso de contingencia mayor.
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="https://www.telefonica.com.ve/es/">Telefónica Móviles Venezuela</a></h3>
                  <h4><em> (2007 – 2010)</em></h4>  
                  <p>Gerente de Implementación</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal3"></button>
                </td>
              </tr>  


              <tr>
                <td>
                  <div class="modal fade" id="myModal4" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">Telefónica Móviles Venezuela<em></em>
                          </h4>
                          <p class="text-center">Gerente de Implementación</p>
                          <p class="text-justify">Responsable de administrar y mantener una planta instalada de más de 1.000 servidores y 300 TB de espacio en disco, liderizando y formando equipos de trabajos de 28 personas y seis áreas funcionales (Facturación, Comunicaciones, Servicios de Internet, Centro de Cómputo, Operaciones, Bases de Datos y Teleinformática) que tienen como función principal la continuidad operativa de los sistemas en producción y garantizar la calidad de los servicios e ingresos de la compañía.</p>
                          <ul class="text-justify">
                            <li>Participé activamente en la implantación y mantenimiento en Venezuela del Sistema Telpago, servicio pionero implementado en el año 1.995 con crecimiento interanual siempre positivo; esta plataforma soporta la tasación en línea de sms, voz y servicios de más de 12 millones de clientes. </li> <br/>
                            <li>Administré, recomendé e implemente soluciones para inconvenientes del sistema CVSC (Centro Virtual de Servicios al Clientes), sistema utilizado por Movistar para integrar la atención de los clientes por los diferentes canales de servicios (> 3.000 usuarios internos y > 4.000 usuarios externos ó Agentes Autorizados).</li><br/>
                            <li>
                            Seleccione e Implementé el cobro en línea de mensajería corta (SMS), procesando hasta 75 millones de SMS/día, donde el costo promedio de cada mensaje es 0,2 BsF, creando la base para implantar nuevas líneas de servicios como son: Consulta en Línea de Saldo y Cupos, Transferencia de Saldos, Aplicación de Tarjetas, entre otros.
                            </li><br/>
                            <li>
                            Instalé la plataforma RAC (Real Aplication Cluster) para los servicios Prepagado, servicio líder en el mercado Venezolano, garantizando el 55% de los ingresos de la compañía.
                            </li><br/>
                            <li>
                            Lideré equipos de trabajo de alto desempeño especializados en tecnologías que garantizaran la continuidad y crecimiento de la compañía, fomentando y permitiendo la consolidación de nuevos departamentos en la Vice Presidencia de Tecnología de Información que se especialicen en los servicios de Facturación, Comunicaciones, Servicios de Internet y Bases de Datos.
                            </li><br/>
                            <li>
                            Implanté y estandaricé tecnologías que garantizaron la continuidad del negocio, siempre considerando el poder de negociación de costos con diferentes proveedores, manteniendo los indicadores solicitado por la empresa en los presupuestos de gasto e inversión de la Vicepresidencia de Tecnología de Información.
                            </li>                          
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="https://www.telefonica.com.ve/es/">Telefónica Móviles Venezuela</a></h3>
                  <h4><em>(Jun 1992 – 2007)</em></h4>  
                    <p>
                      <ul class="text-justify">
                        <li>Gerente de Operaciones (Telcel/BellSouth, Movistar) 1.996-2.007</li>
                        <li>Supervisor de Operaciones (Telcel , Telcel/BellSouth)  1.994-1.996</li>
                        <li>Administrador de Sistemas (Telcel) 1.992-1.994</li>
                      </ul>
                    </p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal4"></button>
                </td>
              </tr>  

   
              <tr>
                <td>
                  <div class="modal fade" id="myModal5" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">Laboratorio Behrens C.A.<em></em>
                          </h4>
                          <p class="text-center">System Manager</p>
                          <ul class="text-justify">
                            <li>Análisis y construcción del sistema integral de planta SIP (Estrategia de reabastecimiento, Inventario, Presupuesto Producción y Plan de Producción). </li> <br/>
                            <li>Reconstrucción del sistema de Cuentas por Pagar y Emisión de Cheques.</li><br/>
                            <li>
                            Integración de los sistemas CxP, CxC, Compras,  Facturación e Inventario con el módulo contable.
                            </li><br/>
                            <li>
                            Mantenimiento en general de los sistemas y de la plataforma: Inventario Comercial e Industrial, Facturación, Contabilidad, Estadísticas., Presupuesto de Ventas y Cobranzas., Cuentas por Pagar, Cuentas por Cobrar, Activo Fijo, Costos, Compras y SIP.
                            </li><br/>                         
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.labbehrens.net/">Laboratorio Behrens C.A. </a></h3>
                  <h4><em>(1.988 - Jun. 1.992).</em></h4>  
                    <p>
                      <ul class="text-justify">
                        <li>System Manager 1.992 - 1.992</li>
                        <li>Analista de Sistemas  1.988-1.990</li>
                      </ul>
                    </p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal5"></button>
                </td>
              </tr>  


              <tr>
                <td>
                  <div class="modal fade" id="myModal6" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Experiencia Profesional</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">INTEVEP S.A.<em></em>
                          </h4>
                          <p class="text-center">Programador de Sistemas</p>
                          <p class="text-justify">Como principal función me desempeñe como programador en el área de Finanzas del departamento de Sistemas </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.pdvsa.com/index.php?lang=es">INTEVEP S.A.  </a></h3>
                  <h4><em>(1.986 - 1.988).</em></h4>  
                    <p>Programador de Sistemas</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal6"></button>
                </td>
              </tr>  
            <tr>               
             <td>
                <h1 style="color:gray">
                  <span class="glyphicon glyphicon-stats"></span>
                  Certificaciones</h1>
                  <ul>
                    <li>
                      <h4>Certificación en Six Sigma Black Belt </h4>
                      <p><a target="_blank" href="http://www.gps-global.com/"><em>(GPS Consulting 2.005)</em></a></p> 
                    </li>

                    <li>
                      <h4>Diplomado  de  Retail</h4>
                      <p><a target="_blank" href="http://www.iesa.edu.ve/"><em>IESA. 2016</em></a></p>
                    </li>
                    <li>
                      <h4>Bootcamp  intensivo de  Programacion Web.</h4>
                      <p><a target="_blank" href="http://academia.devtohack.com/"><em>Academia Hack. 2017</em></a></p>
                    </li>
                  </ul>
              </td>
            </tr>
      </table> 
    </div>   


    <div class="col-xs-5 col-sm-5 col-md-5">
      <table class="table text-left">
             <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-globe text-center"></span>&nbsp;Experiencia internacional</h2>
                  <div>

                <!-- Modal -->
                <div id="myModal10" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Experiencia internacional</h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            Ingres for Application Developers ( Toronto- Canada 03/1993)
                          </li>
                          <li>
                            Managing Ingres DataBase (New Jersey - EEUU 03/1993)
                          </li>
                          <li>
                            OpenVms System Performance Management (Washington - EEUU 05/1993)
                          </li>
                          <li>
                            Fundamentos de Liderazgo (México – México  03/2001)
                          </li>
                          <li>
                            Visita a instalaciones Sun Microsystems (Santa Clara – EEUU  05/2006)
                          </li>
                          <li>
                            Visita a instalaciones Emerson  (Chicago – EEUU  05/2011)
                          </li>                          
                          <li>
                             Oracle Openworld (San Francisco 10/2013)
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>

                  </div>
                </div>
                  <div>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal10">
                      <img src="<%= asset_path('mapamundial.gif') %>" class="img-mapa" >
                    </button>
                  </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-flag"></span>
                    Idiomas
                  </h2>
                    <ul id="ul-flags">
                      <li>
                        <img src="<%= asset_path('spain.svg') %>" class="img-flags" >
                        <h3 id="h3-1" style="text-decoration: none"><em>Español</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">  
                          </li>
                        </ol>
                      </li>

                      <li>
                        <img src="<%= asset_path('united-kingdom.svg') %>" class="img-flags" >
                        <h3 id="h3-2" style="text-decoration: none"><em>Inglés</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                        </ol>
                      </li>
                    </ul>  
                </td>
              </tr>
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Lenguajes de Programación
                  </h2>
                
                <h4>Ruby and Rails</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 80%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Html5, JavaScript, JQuery, Bootstrap, CSS</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 70%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>C y C++</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 60%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Java</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 40%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Base Datos Sql Oracle, MySql, SQL Server y Prosgress</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 70%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>React</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 40%">
                      <span class="sr-only"></span>
                    </div>
                  </div>


                </td>
              </tr>
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-plus"></span>
                    Otros intereses</h2>
                      <!-- <div class="circle1"> <-->
                  <ul id="ul-interest">
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('sp.png') %>" alt="">
                      <p class="text-center">Spinning</p>
                    </li>
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('crp.png') %>" alt="">
                      <p class="text-center">CRP</p> 
                    </li>
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('charity.svg') %>" alt="">
                      <p class="text-center">Apoyo Social</p>
                    </li>
                  </ul>
                </td>
              </tr>

              <tr>
                <td>
                <h1 style="color:gray">
                  <span class="glyphicon glyphicon-briefcase"></span>
                  ENTRENAMIENTOS
                </h1>
                <div class="modal fade" id="myModal7" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Entrenamiento Profesional Técnico</h4>
                      </div>
                      <div class="modal-body">
                            <ul>
                                <li> Intensivo programación Web 06/2017</li>
                                <li> Oracle 11 I y II DBA 03/2017</li>
                                <li> CCNA 02/2017</li> 
                                <li> Lenjuage C y C++ 02/2017</li>
                                <li> Linux Essencial 12/2016</li>
                                <li> SQL DBA 11/2016</li>
                                <li> Java SE 11/2016</li> 
                                <li> Solaris System Performance Management 05/2003</li>
                                <li> Administering Security Solaris 04/2003</li>
                                <li> Whats New in Solaris 9 03/2003</li>
                                <li> Project 2.000 Avanzado 03/2002</li>    
                                <li> Flash MX 02/2003</li>
                                <li> UT200 Introduction to Unicenter TNG 09/1999</li>
                                <li> Oracle7 DataBase Administration 08/1998</li>
                                <li> Solaris 2.X System Administration 08/1998</li> 
                                <li> Solaris 2.X Administration Essentials 04/1998</li>
                                <li> MS Project for Windows 06/1994</li>
                                <li> Desarrollo de Aplicaciones en Vision 03/1994</li>
                                <li> Desarrollo de Aplicaciones en ABF 03/1994</li> 
                                <li> OpenVms System Performance Management (Washington – EEUU) 05/1993</li>
                                <li> Managing Ingres DataBase (New Jersey – EEUU) 03/1993</li>
                                <li> Ingres for Application Developers ( Toronto- Canada) 03/1993</li>
                                <li> Managing Ingres DataBases 10/1992</li> 
                                <li> System Manager del Sistema VMS 11/1989</li>
                                <li> Técnicas Avanzadas de VMS 11/1989</li>
                                <li> Vax/VMS Utilities and Commands 07/1988</li>
                                <li> Vax DataTrieve 06/1988</li>    
                                <li> Programación REXX 04/1987</li>
                                <li> Culprit para Programadores y Analistas 02/1987</li>
                                <li> Application Development UIT ADS/Batch 02/1987</li>
                                <li> Desarrollo de Aplicaciones en ASF 01/1987</li> 
                                <li> Conceptos y Facilidades de Base de Datos 01/1987</li>
                                <li> Desarrollo de Aplicaciones con ADS/Online 01/1987</li>
                                <li> Programación Batch en el IDMS/R 01/1987</li>
                                <li> Conceptos y Operación B-20 , Data Manager B-20 12/1985</li>                                   
                            </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Entrenamiento  Técnico</h3>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal7"></button>
                </td>
              </tr> 


              <tr>
                <td>
                <div class="modal fade" id="myModal8" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Entrenamiento Profesional Gerencial</h4>
                      </div>
                      <div class="modal-body">
                              <ul>
                                  <li> Diplomado de Retail IESA Caracas 2015- 2016</li>
                                  <li> 7 Hábitos de la Gente Efectiva 10/2008</li> 
                                  <li> Great Place to Work 08/2008</li>
                                  <li> Seguridad, Tecnología y Auditoria de Sistemas (Espiñeira, Sheldon y Asociados) 09/2006</li>
                                  <li> Liderazgo para Resultados 11/2005</li>
                                  <li> Técnicas de Negociación (CMI Internacional Group) 08/2004</li> 
                                  <li> Alineación, Balanceo y Entonación del Equipo 07/2004</li>
                                  <li> El Líder como Coach (IESA) 11/2004</li>
                                  <li> Finanzas para Ejecutivos no Financieros (IESA) 11/2003</li>
                                  <li> Oratoria y Presentaciones 06/2003</li>    
                                  <li> Microsoft Operations Framework 10/2002</li>
                                  <li> Efectividad Gerencial 06/2002</li>
                                  <li> Fundamentos de Liderazgo (México – México) 03/2001</li>
                                  <li> Encuentro Mundial de Franquicias 08/2000</li> 
                                  <li> Reuniones Inteligentes 08/2000</li>
                                  <li> Liderazgo Personal y Auto Gerencia en Tiempo de Sorpresas 02/1999</li>
                                  <li> Excelencia Gerencial 06/1997</li>
                                  <li> Boston English Learners 12/1996</li>                                   
                              </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Entrenamiento  Gerencial</h3>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal8"></button>
                </td>
              </tr> 
      </table>
    </div>  
  </div> 
</div> 
</body>
</html>
