<html>
<head>
  <meta charset="UTF-8">
  <title>Curriculum Antonio Franceskin</title>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body class="text-center"   style="background:#F2F4F4;">
<header style="background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; >

  <div class="container-fluid">        
    <table class="table" style="background-color: #DCDCDC">
      <thead >  
            <MARQUEE BEHAVIOR=ALTERNATE>
            <h1 style="color: white; font-weight:bold; font-family: Courier; font-size:300%; text-shadow: -0.06em 0 red, 0.06em 0 cyan;" >Eduardo Franceskin Lobo</h1>
            </MARQUEE>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-2 col-md-2 col-sm-2">
          <%= image_tag("ef.png", :width => "100%") %>
          <!-- <img src="<%= asset_path('af.jpg') %>" width="100%"> -->
          </td>
          <td class="col-xs-7 col-md-7 col-sm-7" style="padding: 0">
            <h2 style="text-align: left;  font-weight:bold;"> B.Eng. Ingeniería de Telecomunicaciones</h2>
              <p style="text-align: justify;font-weight:bold; font-size:120%;">&nbsp;&nbsp;&nbsp;Profesional graduado en  la  Hochschule Darmstadt Alemania, con  competencias en trabajo en  equipos de alto desempeño, analítico e innovador en la solución de problemas y toma de decisiones, alto nivel de compromiso y orientado a resultado excelentes.</p>
          </td>
          <td class="col-xs-3 col-md-3 col-sm-3">
          <ul  style="text-align: left; list-style: none;padding: 0; margin-top: 20%;margin-left: 20px">
            <li>
              <h4 style="color:#E21515">
                <span class="glyphicon glyphicon-map-marker" style="color:gray"></span>
                  &nbsp;&nbsp;Madrid, España
                </h4>
              </li>
              <li>
                <h4 style="color:#E21515">
                  <span class="glyphicon glyphicon-phone" style="color:gray"></span>
                  &nbsp;&nbsp;+34-611-4134581</h4>
                </li>
                <li>
                  <h4 style="color:#E21515">
                    <span class="glyphicon glyphicon-envelope" style="color:gray"></span>
                    &nbsp;&nbsp;franceskin.eduardo@gmail.com
                  </h4>
                </li>
                <li>
                  <h4>
                    <span class="glyphicon glyphicon-user" style="color: gray"></span>
                    <a target="_blank" href="https://www.linkedin.com/in/eduardo-franceskin-368432a1/">&nbsp;&nbsp;Linkedin Eduardo Franceskin</a>
                  </h4>
                </li>   
             </ul> 
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</header> 

<div class="container">
  <div class="row">  
    <div  class="col-xs-7">
      <table class="table text-left">
<!--               <tr>
                <td>
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="antonio-franceskin-373b1631"><a class="LI-simple-link" href='https://ve.linkedin.com/in/antonio-franceskin-373b1631?trk=profile-badge'>Antonio Franceskin</a></div>
                </td>
                </tr> -->
                <tr>
                <td>
                  <h1 style="color:gray  text-left">
                    <span class="glyphicon glyphicon-education"></span>
                    Educación
                  </h1>
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h2 class="modal-title">Educación</h2>
                        </div>
                        <div class="modal-body">
                          <h4 style="font-weight:bold">
                          Detección de Anomalías en una Red de Seguridad (TFG), <em>Sep. 2017</em>
                          </h4>
                          <p class="text-center">Calificación excepcional </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.ucv.ve/">"Hochschule Darmstadt"</a></h3>
                  <h4><em>Sept. 2017</em></h4>  
                  <p>B.Eng. Ingeniería de Telecomunicaciones</p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal"></button>
                </td>
              </tr>

  
              <tr>
                <td>
                  <div class="modal fade" id="myModal5" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h2 class="modal-title">Experiencia Profesional</h2>
                        </div>
                        <div class="modal-body text-center" style="margin-right: 20px; margin-left: 30px">
                          <h3 style="font-weight:bold">Suchdialog AG<em></em>
                          </h3>
                          <h4 class="text-center">Soporte en el Área de IT</h4>
                          <ul class="text-justify">
                            <li>Mantenimiento y  soporte  tecnico de  la  infraestructura  de  computación y redes</li><br/>                      
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3><a target="_blank" href="http://www.labbehrens.net/">Suchdialog AG </a></h3>
                  <h4><em>(Sep-2016 - Ene-2017).</em></h4>  
                    <p>
                      <ul class="text-justify">
                        <li>Soporte en el Área de IT</li>
                      </ul>
                    </p>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal5"></button>
                </td>
              </tr>  
             
         
              <tr>
                <td>
                <h1 style="color:gray text-left">
                  <span class="glyphicon glyphicon-briefcase"></span>
                  Entrenamientos
                </h1>
                <div class="modal fade" id="myModal7" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header text-left">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Entrenamiento Profesional Técnico</h2>
                      </div>
                      <div class="modal-body" style="margin-right: 20px; margin-left: 30px">
                            <ul>
                                <li> CCNA</li>                                   
                            </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Entrenamiento  Técnico</h3>
                </td>
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal7"></button>
                </td>
              </tr> 

  
                <td>
                  <button type="button" class="glyphicon glyphicon-link" data-toggle="modal" data-target="#myModal8"></button>
                </td>
              </tr> 



            <tr>               
             <td>
                <h1 style="color:gray text-left">
                  <span class="glyphicon glyphicon-stats"></span>
                  Certificaciones</h1>
                  <ul style="text-align: left;">
                    <li>
                      <h4>Certificación en CCNA </h4>
                      <p><a target="_blank" href="http://www.gps-global.com/"><em>(GPS Consulting 2.016)</em></a></p> 
                    </li>
                  </ul>
              </td>
            </tr>
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-plus"></span>
                    Otros intereses</h2>
                      <!-- <div class="circle1"> <-->
                  <ul id="ul-interest">
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('sp.png') %>" alt="">
                      <p class="text-center">Spinning</p>
                    </li>
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('crp.png') %>" alt="">
                      <p class="text-center">CRP</p> 
                    </li>
                    <li>
                      <img class="img-creative animated infinite" src="<%= asset_path('charity.svg') %>" alt="">
                      <p class="text-center">Apoyo Social</p>
                    </li>
                  </ul>
                </td>
              </tr>


      </table> 
    </div>   


    <div class="col-xs-5 col-sm-5 col-md-5">
      <table class="table text-left">
            
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-flag"></span>
                    Idiomas
                  </h2>
                    <ul id="ul-flags">

                      <li>
                        <img src="<%= asset_path('esc1.png') %>" class="img-flags" >
                        <h3 id="h3-1" style="text-align: center;margin-left: 0;text-decoration: none"><em>Español</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">  
                          </li>
                        </ol>
                      </li>

                      <li>
                        <img src="<%= asset_path('ukc1.png') %>" class="img-flags" >
                        <h3 id="h3-2" style="text-align: center; margin-left: 0;text-decoration: none"><em>Inglés</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                        </ol>
                      </li>



                      <li>
                        <img src="<%= asset_path('itc1.png') %>" class="img-flags" >
                        <h3 id="h3-2" style="text-align: center; margin-left: 0; text-decoration: none"><em>Italiano</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                        </ol>
                      </li>

                      <li>
                        <img src="<%= asset_path('alc1.png') %>" class="img-flags" >
                        <h3 id="h3-2" style="text-align: center;margin-left: 0; text-decoration: none"><em>Aleman</em></h3>
                          <ol>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                          <li>
                            <img src="<%= asset_path('star.svg') %>" alt="" class="img-star">
                          </li>
                        </ol>
                      </li>



                </td>
              </tr>
              <tr>
                <td>
                  <h2 style="color: gray">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Competencias
                  </h2>
                
                <h4>Cisco</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 80%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Office</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 70%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>C y C++</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 60%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Drive</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 40%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>MatLab</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 70%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Unix/Linux</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 40%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                  <h4>Python</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 60%">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                  <h4>Git</h4>
                 <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-value-max="100" style="width: 60%">
                      <span class="sr-only"></span>
                    </div>
                  </div>

                </td>
              </tr>

      </table>
    </div> 

  </div> 
</div> 
  <ul class="wrapper">
    <div class="sun">
      <div class="star"></div>
    </div>
    <div class="mercury">
      <div class="planet">
        <div class="shadow"></div>
      </div>
    </div>
    <div class="venus">
      <div class="planet">
        <div class="shadow"></div>
      </div>
    </div>
    <div class="earth">
      <div class="planet"><div class="shadow"></div></div>
    </div>
    <div class="mars">
      <div class="planet"><div class="shadow"></div></div>
    </div>
    <div class="jupiter">
      <div class="planet"><div class="shadow"></div></div>
    </div>
</ul> 
</body>
</html>
